.navbar {
    background: #2d6360;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
}

a.navlink {
    color: white;
}

h3, h4 {
    font-family: 'Julius Sans One', sans-serif;
}

p, label {
    font-family: 'Libre Baskerville', serif;
}

a.navlink:visited {
    color: rgba(255,255,255,0.6);
}

a.articleLink {
    color: #2e484c;
}

.btn {
    font-family: 'Roboto Slab', serif;
}

.sidebar, .cardSidebar {
    background: rgb(232, 239, 235);
}
